*. *:before, *:after{
  box-sizing: border-box;
}

body {
  align-items: baseline;
  background-color: #303030;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}


.container {
  margin: 0 auto;
  width: 420px;
}


h1 {
  font-size: 1em;
  font-weight: bold;
}

h3 {
  font-size: .875em; /* 14/16 */
}

.arrow {
  display: block;
  float: right;
}

.location {
  background-color: #cccccc;
  border: 1px solid #979797;
  padding: 16px 24px;
}

.location:hover {
  background-color: #B2B2B2;
}

nav {
  background-color: #000;
  margin: 0 auto;
  padding: 10px 0 10px 10px;
  position: fixed
  width: 100%;
}

.restaurant-list {
  line-height: 1.25em;
  width: 100%;
}
