*:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

h1 {
  font-size: 1em;
  font-weight: bold;
}

h3 {
  font-size: .875em; /* 14/16 */
}

.content {
  display: inline-block;
  width: 70%;
}

.location {
  background-color: #cccccc;
  border: 1px solid #979797;
  padding: 16px 24px;
}

.location:hover {
  background-color: #B2B2B2;
}

nav {
  background-color: #000;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px 0 10px 10px;
  width: 100%;
}
